body {
  margin: 0;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-form {
  max-width: 400px;
  margin: "auto";
  margin-top: 100;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
